{% extends 'student/main.html' %}
{% block content %}
<style>
  .con{
    word-wrap: break-word;
    word-break: break-all;
   }
</style>

<div class="container-fluid">
  <!-- Info Alert -->
 
  <div class="dark d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class=" dark h3 mb-0 text-gray" > Sent Message</h1>
 </div>
{% if meg %}

            {% for i in meg %} 
            <div class="card shadow col-md-8 card bg-info border-bottom-info" >      
            <div class=" m-2 d-flex align-items-center">
              <div class="font-weight-bold mt-3">
                <div class=" mr-3">
                    <img  src="{{i.profile_pic.url}}"
                        alt="..." height=50 width=50 class="rounded-circle small text-white">                                
                        {{i.sender}} . {{i.date}} . {{i.lecturer}} . {{i.student}} . {{i.group}}</div> 
                    <center><div class="text-white h4"><u><i>{{i.subject}}</i></u></div></center>
                  <div class=" con text-white">{{i.message}}<br><br></div>
              </div>
            </div>
            </div>
            {% endfor %}
            <br><br><br>

            {% else %}
            nothing here
            {% endif %}
{% endblock content %}