{% extends 'student/main.html' %}
{% block content %}
<style>
   
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}   
    </style>

<div class="container-fluid">
 <!-- Info Alert -->

 <div class="dark d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class=" dark h3 mb-0 text-gray" >Message</h1>
</div>

        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h4 class="m-b-20">New Message</h4><br>
                        <h2 class="text-right"><i class="fa fa-envelope f-left"></i><span></span></h2>
                        <br><br>
                        <a style="text-decoration:none;color:white;" href="{% url 'studentnewmessage' %}"<p class="m-b-0 h5">Send Message <i class="fa fa-angle-right"></i></p></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h4 class="m-b-20">Inbox Message</h4><br>
                        <h2 class="text-right"><i class="fa fa-envelope f-left"></i><span></span></h2>
                        <br><br>
                        <a style="text-decoration:none;color:white;" href="{% url 'studentinbox' %}"<p class="m-b-0 h5">All Message <i class="fa fa-angle-right"></i></p></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h4 class="m-b-20">Sent Message</h4><br>
                        <h2 class="text-right"><i class="fa fa-envelope f-left"></i><span></span></h2>
                        <br><br>
                        <a style="text-decoration:none;color:white;" href="{% url 'studentsent' %}"><p class="m-b-0 h5">All Message <i class="fa fa-angle-right"></i></p></a>
                    </div>
                </div>
            </div>
      </div>
      </div>


{% endblock content %}