{% extends 'student/main.html' %}
{% block content %}
<style>
 .con{
  word-wrap: break-word;
  word-break: break-all;
 }
</style>

<div class="dark d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class=" dark h3 mb-0 text-gray" >General NoticeBoard</h1>
</div>

{% if notice %}
            {% for i in notice %} 
            <div class="card shadow col-md-8 card border-bottom-info">
              
                
           
              <div class="font-weight-bold m-3">
                <div class=" mr-3">
                    <img class="rounded-circle small text-gray-500" src="{{i.profile_pic.url}}"
                        alt="..." height=50 width=50>                                
                        {{i.sender}} . {{i.date}}</div> 
                    <center><div class="text-gray-600 h4">{{i.title}}</div></center>
                  <div  class=" con h5 text-gray-800">{{i.description}}<br><br></div>
              </div>
            </div>

            </div>
            {% endfor %}
            {% else %}
            nothing here
            {% endif %}

{% endblock content %}