{% extends 'lecturer/main.html' %}
{% block content %}
{% load static %}
<style>
    thead{
        text-align:center;
    }
</style>
<div class="container-fluid">
 <!-- Info Alert -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">View Submitted Student Result</h1>
</div>{% if res %}
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Student Lists</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Student</th>
                                            <th>Course</th>
                                            <th>course Unit</th>
                                            <th>Exam</th>
                                            <th>Test</th>
                                            <th>Attendancee</th>
                                            <th>Grade</th>
                                            <th>Quality Point</th>
                                            <th>Date Submitted</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>                                    
                                    
                                    <tbody>
                                        {% for i in res %}
                                        <tr>
                                            <td>{{i.student}}</td>
                                            <td>{{i.course}}</td>
                                            <td>{{i.cu}}</td>
                                            <td>{{i.exam_score}}</td>
                                            <td>{{i.test_score}}</td>
                                            <td>{{i.attendant_score}}</td>
                                            <td>{{i.grade}}</td>
                                            <td>{{i.qp}}</td>
                                            <td>{{i.date}}</td>

                                            <td td style="width:80px"><center><a href="{% url 'deletelecresult' i.id %}"><i class="fa fa-trash" style="font-size:24px; color:red;"></i></center></td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br><br><br><br><br>
                <!-- /.container-fluid -->
                {% else %}
                nothing is found hrer
                                                {% endif %}

            

{% endblock content %}