{% extends 'lecturer/main.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<style>

</style>
<div class="container-fluid">
 <!-- Info Alert -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
</div>



<div class="container">
  
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-1">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-noned-lg-block "><br><br><br><br><br><br><center><i class="fa fa-key fa-10x"></i></center></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                        </div>
                        <form method="POST" class="user">
                            {% csrf_token %}
                            <div class="form-group row">
                              {% render_field form.old_password|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder=" OLD PASSWORD"  %}
                                </div>
                                <div class="form-group row">
                                  {% render_field form.new_password1|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="NEW PASSWORD" %}
                                </div>
                            
                            <div class="form-group row">
                              {% render_field form.new_password2|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="CONFIRM NEW PASSWORD"  %}
  
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Change Password
                            </button>
                            <hr>
                          </form>
                </div>
                
            </div>

        </div>
    </div>

</div>

{% endblock content %}
