{% extends 'dashboard/main1.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<style>
    thead{
        text-align:center;
    }
</style>
<div class="container-fluid">
 <!-- Info Alert -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Set Questions </h1>
</div>

<div class="container">
  
  <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-noned-lg-block "><br><br><br><br><br><br><br><br><br><br><br><center><i class="fa fa-question fa-10x"></i></center></div>
              <div class="col-lg-7">
                  <div class="p-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Add Question</h1>
                      </div>
                      <form method="POST" class="user">
                          {% csrf_token %}
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                            {% render_field questionForm.courseID|attr:'required:true' type="text" class="form-control" style="height:50px; border-radius:50px;" %}
                              </div>
                          </div>
                          <div class="form-group">
                            {% render_field questionForm.question|attr:'required:true' type="textarea" class="form-control form-control-user" id="exampleFirstName"  placeholder="Exam Question" %}

                          </div>
                          
                          <div class="form">
                            {% render_field questionForm.marks|attr:'required:true' type="number" class="form-control form-control-user" id="exampleFirstName"  placeholder="Question Mark" %}
                        </div>
                        <br>
                        <div class="form">
                          {% render_field questionForm.option1|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="Option 1" %}
                      </div>
<br>
                      <div class="form">
                        {% render_field questionForm.option2|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="Option 2" %}
                    </div>
                    <br>
                    <div class="form">
                      {% render_field questionForm.option3|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="Option 3" %}
                  </div>
                  <br>
                  <div class="form">
                    {% render_field questionForm.option4|attr:'required:true' type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="Option 4" %}
                </div>
                <br>
                
                <div class="form">
                  {% render_field questionForm.answer|attr:'required:true' type="select" class="form-control" style="height:50px; border-radius:50px;"  %}
                  <label>Correct option<lable>
                </div>

              <div class="form">
                {% render_field questionForm.user|attr:'required:true' type="hidden" class="form-control" style="height:50px; border-radius:50px;"  %}
            </div>
                          <button type="submit" class="btn btn-primary btn-user btn-block">
                              Add
                          </button>
                          <hr>
                        </form>
              </div>
          </div>
      </div>
  </div>

</div>
{% endblock content %}

