{% extends 'dashboard/main1.html' %}
{% block content %}
{% load static %}
<style>
    thead{
        text-align:center;
    }
</style>
 
<div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Student Result</h1>
</div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Course list</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>(Course code)Course Name</th>
                                            <th>Semester</th>
                                            <th>Lecturer</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>(Course code)Course Name</th>
                                            <th>Semester</th>
                                            <th>Lecturer</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    
                                   
                                    <tbody>
                                        {% for i in cou %}
                                        <tr>
                                            <td>{{i.name}}</td>
                                            <td>{{i.semester}}</td>
                                            <td>{{i.lecturer}}</td>
                                            <td style="width:110px"><center><a href="{% url 'checkmarks' i.id %}"><i class="fa fa-eye" style="font-size:24px"></i></center></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br><br><br><br><br>
                <!-- /.container-fluid -->

            

{% endblock content %}