{% extends 'dashboard/main1.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<style>
    thead{
        text-align:center;
    }
</style>
<div class="container-fluid">
 <!-- Info Alert -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Department</h1>
</div>



<div class="container">
  
  <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-noned-lg-block "><br><br><br><br><br><br><center><i class="fa fa-hotel fa-10x"></i></center></div>
            <div class="col-lg-7">
                  <div class="p-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Create Department</h1>
                      </div>
                      <form method="POST" class="user">
                          {% csrf_token %}
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                            {% render_field form.name|attr:'required:true' maxlength="30" type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="Department Name" %}
                              </div>
                              <div class="col-sm-6">
                                {% render_field form.hod|attr:'required:true' maxlength="20" type="text" class="form-control form-control-user" id="exampleFirstName"  placeholder="Name of HOD" %}
                              </div>
                          </div>
                          <div class="form-group">
                            {% render_field form.facultyID|attr:'required:true' type="select" class="form-control" style="height:50px; border-radius:50px;" %}
                          </div>
                          <div class="form-group">
                            {% render_field form.description|attr:'required:true' maxlength="30" type="text" class="form-control form-control-user" id="exampleInputEmail"  placeholder="Description" %}
                          </div><br><br>
                          <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <b class=" mb-0 text-danger">This Token Is Required for Authentication</b>
                        </div>

                          <div class="form-group">
                            {% render_field form.token|attr:'required:true' maxlength="10" type="text" class="form-control form-control-user" id="exampleInputEmail"  placeholder="Token" %}
                          </div>
                          <button type="submit" class="btn btn-primary btn-user btn-block">
                              Create
                          </button>
                          <hr>
                        </form>
              </div>
          </div>
      </div>
  </div>

</div>


{% endblock content %}
