{% extends 'dashboard/main1.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<style>
    .row{
    width:200%;
    }
    @media only screen and (max-width: 600px){
        .row{
            width:100%;
        }
    }
</style>
<div class="container-fluid">
 <!-- Info Alert -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reset Tables</h1>
</div>
<br><br>
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card  shadow h-100 py-5">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class=" font-weight-bold text-info h2 text-uppercase mb-1">
                                    RESET TIMETABLE</div><br>
                                    <br>
                                    <a href="{% url 'resettab' %}" class="btn btn-danger btn-circle btn-lg">
                                        <i class="fa fa-spinner fa-1x"></i>
                                    </a>
                                  </div>
                            <div class="col-auto">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card  shadow h-100 py-5">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class=" font-weight-bold text-info h2 text-uppercase mb-1">
                                    RESET EXAM TIMETABLE</div><br>
                                    <br>
                                    <a href="{% url 'resetexam' %}" class="btn btn-danger btn-circle btn-lg">
                                        <i class="fa fa-spinner fa-1x"></i>
                                    </a>
                                  </div>
                            <div class="col-auto">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}